body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.klk{
    background-color: rgb(113, 178, 243);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4); /*the first value in the box shadow is the position of the horizontal shadow is 0 the next one is the position of the vertical shadow is 4px and add blur radius is 8px and change the color of the shadow by rgba */
    text-decoration: none;
    color: black;
    position: relative;  
}
/* :: beforp is seudo elemnte it's used to style specified parts of an element*/
.klk::before{  
    content: "";
    position: absolute;
    background-color: blue;
}